.cadastroLivros {
    height: 619px;
    background-color: #A3EAF6;
}

.cadastroLivros .cabecalho {
    padding-top: 0px;
}

.cadastroLivros .contorno {
    background-color: #F7F7F7;
    height: 420px;
    width: 400px;
    margin-top: 25px;
    margin-left: 450px;
    align-items: center;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.formulario {
    margin-left: 30px;
}

.formulario form h1 {
    width: 806px;
    height: 43px;
    font-family: 'Prata';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 43px;
    color: #212121;
}

.formulario form h5 {
    width: 109px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #212121;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttons {
    margin-top: 15px;
    margin-left: 125px;
}